{% extends 'base.html.twig' %}

{% block title %}Liste des articles :
{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Liste des articles
    </h1>

    <div class="row">
        {% for article in articles %}

            <div class="col-4">

                <div class="card border-light mb-3">

                    <div class="card-header">
                        <h4 class="card-title text-center">{{ article.title }}</h4>
                    </div>


                    <img src="{{ article.image }}" alt=""/>
                    <div class="card-body  text-center">


                        <p>
                            <small>Publié le
                                {{ article.publishedAt | date('d/m/Y H:i')}}
                            </small>
                        </p>
                        <p class="card-text text-justify">{{ article.content }}</p>
                        <p>
                            {{ article.comments | length  }}
                            commentaires postés</p>
                        </p>
                        <p style="text-align: center;">
                            <a href="{{ path('show_article', {'slug': article.slug}) }}" class="btn btn-success">Voir l'article</a>
                        </p>
                        <p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <p>
                                    <a class="btn btn-info" href="#">Editer</a>

                                </p>
                                <p>
                                    <a class="btn btn-danger" href="#">Supprimer</a>

                                </p>


                            {% endif %}

                        </p>

                    </div>
                </div>
            </div>


           

        {% endfor %}

    </div>
{% endblock %}
