{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}


    <div class="card border-success mb-3">
        <div class="card-header text-center">

            <h1>{{ article.title }}</h1>
            <small>Publié le :
                {{ article.publishedAt | date('d/m/Y') }}
                à
                {{ article.publishedAt | date('H:i') }}

            </small>


        </div>
        <p class="text-center"><img src="{{ article.image }}" alt=""></p>


        <div class="card-body">
            <h4 class="card-title text-justify">{{ article.content }}</h4>
        </div>
    </div>


    <h3 class="text-center mt-5">Commentaires (
        {{ article.comments | length }}
        )</h3>
    {% for comment in article.comments %}

        <div style="background: #383636; margin: 10px; padding: 10px;">

            <h4 class="text-center">{{ comment.authorName}},</h4>

            <p class="text-center">a écrit
                <em>( le

                    {{  comment.createdAt | date('d/m/Y')}}
                    à
                    {{ comment.createdAt | date('H:i') }}
                    ) :
                </em>
            </p>

            <blockquote class="text-center">{{ comment.content }}</blockquote>

        </div>
    {% endfor %}
{% endblock %}
